{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
<a class="container padding-4 btn btn-primary" href="{% url 'rereceta:categoria-update' categoria.id %}">Actualizar</a>
<a class="container padding-4 btn btn-primary" href="{% url 'rereceta:categoria-index' %}">Todas las categorias</a>
<a class="container padding-4 btn btn-primary" href="{% url 'rereceta:categoria-delete' categoria.id %}">Eliminar</a>
<li class="list-group-item"><h1>{{ categoria.nombre }}</h1><h1>{{categoria.id}}</h1></li>

{% endblock %}
