{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
<h1>Receta</h1>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {%bootstrap_form form %}
    <a class="btn btn-primary" href="{% url 'rereceta:imagen-create' %}" target="_blank">nueva imagen</a>
    <a class="btn btn-primary" href="{% url 'rereceta:integrante-create' %}" target="_blank">nuevo/a integrante</a>
    {% buttons %}
    <input class="btn btn-primary" type="submit" value="Enviar" />
    {% endbuttons %}
    </form>
{% endblock %}
