{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
    <a class="container padding-4 btn btn-primary" href="{% url 'rereceta:create' %}">Nuevo</a>
    <ul class="list-group">
        {% for receta in object_list %}
            <li class="list-group-item"><a href="{% url 'rereceta:detail' receta.id %}">{{receta.nombre}}</a> - {{ receta.descripcion }} - {{ receta.fecha }} - {{receta.categoria}} <br><img src="{{receta.imagen.url}}" width="150" height="150"></li>
        {% empty %}
            <li>No hay recetas.</li>
        {% endfor %}

    </ul>
    {% endblock %}
